<template>
    <div id="navbar-search" class="lg:relative h-full w-full">
        <div class="flex-grow h-full flex items-center lg:px-4">
            <button type="button" class="text-lg text-muted" @click="keyword = null">
                <i :class="keyword ? 'ti-close' : 'ti-search'"></i>
            </button>
            <input id="navbar-search-input" type="text" 
                class="w-full pl-4 py-2"
                autocomplete="off"
                v-model="keyword" 
                @input="performSearch"
                @keydown.up.prevent.stop="moveCursor(-1)"
                @keydown.down.prevent.stop="moveCursor(+1)"
                @keydown="showOptions = true"
                @click="showOptions = true"
                @focus="showOptions = true"
                @blur="showOptions = false"
                placeholder="Search for places..." 
                ref="searchInput"
            />
        </div>
        <fetch-listing v-if="keyword" 
            url="/api/clients" 
            :params="queryParams"
            accumulate 
            @fetched="resetCursorIfOutOfBound()"
            ref="fetcher"
        >
            <div v-if="list.length" v-show="showOptions"
                id="navbar-search-result"
                class="absolute pin-x pin-t-full border bg-white max-h-80 overflow-y-auto"
                slot-scope="{ meta, list, loading, fetchNext }"
                ref="listing"
            >
                <router-link v-for="(client, clientIndex) in list" :key="client.id"
                    :to="{ name: 'client.home', params: { slug: client.slug } }"
                    @mousedown.native="select($event, client)"
                    @mouseenter.native="setCursorOnMouseEnter(clientIndex, $event)"
                    @mouseleave.native="setCursorOnMouseLeave($event)"
                    class="block px-4 py-2 cursor-pointer truncate"
                    :class="{ 'bg-brand-lightest' : cursor === clientIndex }"
                    v-text="client.name"
                    :ref="`client${clientIndex}`"
                ></router-link>
                <div v-if="meta.current_page < meta.last_page"
                    class="px-4 py-2 cursor-pointer text-muted"
                    @mousedown.prevent="fetchNext()"
                    v-in-viewport:200.parent="fetchNext"
                >Load More</div>
            </div>
        </fetch-listing>
    </div>
</template>

<script>
    import { redirect } from '../libs/helpers'

    export default {
        data() {
            return {
                keyword: null,
                showOptions: false,
                cursor: -1,
            }
        },
        computed: {
            queryParams() {
                return this.keyword ? { filters : { keyword : this.keyword } } : {}
            }
        },
        methods: {
            performSearch: _.debounce(function () {
                if (this.keyword) {
                    this.$refs.fetcher.fetch(true)
                }
            }, 300),
            
            select(e, item) {
                if (e.which === 1) {
                    this.keyword = item.name
                    this.showOptions = false
                }
                this.$nextTick(() => {
                    this.$refs.searchInput.focus()
                })
            },

            setCursor(index) {
                if (index < -1 || index >= this.$refs.fetcher.list.length) {
                    return
                }
                this.cursor = index
            },

            resetCursorIfOutOfBound() {
                if (this.cursor >= this.$refs.fetcher.list.length) {
                    this.setCursor(-1)
                }
            },

            setCursorOnMouseLeave(e) {
                if (e.movementX === 0 && e.movementY === 0) {
                    return
                }
                this.setCursor(-1)
            },

            setCursorOnMouseEnter(index, e) {
                if (e.movementX === 0 && e.movementY === 0) {
                    return
                }
                this.setCursor(index)
            },

            moveCursor(increment) {
                this.setCursor(this.cursor + increment)
                this.ensureCursorVisible()
            },

            ensureCursorVisible() {
                let elm = this.$refs[`item${this.cursor}`]
                if (! elm) {
                    return
                }
                elm = elm[0]
                let elmTop = elm.offsetTop,
                    elmHeight = elm.offsetHeight,
                    elmBottom = elmTop + elmHeight,
                    listScroll = this.$refs.listing.scrollTop,
                    listHeight = this.$refs.listing.offsetHeight
                
                if (elmTop < listScroll) {
                    this.$refs.listing.scrollTop = elmTop
                } else if (elmBottom > listScroll + listHeight) {
                    this.$refs.listing.scrollTop = listScroll + elmHeight
                }
                if (this.cursor >= this.$refs.fetcher.list.length -1) {
                    this.$refs.listing.scrollTop = this.$refs.listing.scrollHeight
                }
            },
        }
    }
</script>
