<template>
    <div class="flex-grow flex flex-col">

        <nav id="navbar" ref="navbar" class="z-10 fixed pin-x pin-t flex-none shadow bg-white" 
            :class="sticking ? 'navbar-stick' : 'navbar-unstick'"
        >
            <div class="container mx-auto px-4 h-14 md:h-20 md:flex md:justify-between">
                <div class="h-14 md:h-20 flex-grow flex items-stretch justify-between">
                    <router-link :to="{ name: 'home' }" class="flex-none flex items-center px-4 -ml-4 text-2xl text-brand font-bold">
                        <span class="hidden md:inline">Single Page App</span>
                        <span class="inline md:hidden">SPA</span>
                    </router-link>
                    <div class="flex-grow">
                        
                    </div>
                    <button id="navbar-toggle" type="button" @click="toggleNavbar()" 
                        class="flex-none md:hidden flex items-center -mr-4 px-4"
                    >
                        <i id="navbar-toggle-open" class="ti-menu text-2xl"></i>
                        <i id="navbar-toggle-close" class="hidden ti-close text-2xl"></i>
                    </button>
                </div>
                <div id="navbar-menu" class="hidden font-semibold md:flex md:items-stretch">
                    <router-link :to="{ name: 'hello' }" @click.native="toggleNavbar(false)" 
                        class="block md:mx-4 md:flex md:items-center hover:text-brand"
                    >
                        Hello
                    </router-link>
                    <template>
                        <a v-if="$auth.check()" href="#" @click.prevent="toggleNavbar(false), logout()"
                            class="block md:mx-4 md:flex md:items-center hover:text-brand"
                        >
                            Logout
                        </a>
                        <router-link v-else :to="{ name: 'login' }" @click.native="toggleNavbar(false)" 
                            class="block md:mx-4 md:flex md:items-center hover:text-brand"
                        >
                            Login
                        </router-link>
                    </template>
                    <!-- @guest
                        <a class="block md:mx-4 md:flex md:items-center hover:text-brand" href="{{ url('/login') }}">\
                            Login
                        </a>
                    @else
                        <span class="block md:mx-4 md:flex md:items-center">
                            {{ optional(Auth::user())->name ?? 'Guest' }}
                        </span>
                        <a href="{{ route('logout') }}"
                            class="block md:mx-4 md:flex md:items-center hover:text-brand"
                            @click.prevent="$refs.logoutForm.submit()">Logout</a>
                            <form ref="logoutForm" action="{{ route('logout') }}" method="POST" class="hidden">
                                {{ csrf_field() }}
                            </form>
                    @endguest -->
                </div>
            </div>
        </nav>
        <div id="page" class="flex-grow flex flex-col">
            <main id="main" class="flex flex-grow flex-col">
                <router-view></router-view>
            </main>
            <footer id="footer" class="flex-none border-t">
                <div class="container mx-auto px-4 py-2 text-sm">
                    &copy; SPA 2018
                </div>
            </footer>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            scroll: 0,
            sticking: true,
        }
    },
    methods: {
        toggleNavbar(state) {
            document.body.classList.toggle('navbar-open', state)
        },
        stickHeader() {
            let currentScroll = window.pageYOffset
            if (currentScroll < this.scroll) {
                this.sticking = true
            } else if (currentScroll > this.scroll) {
                this.sticking = false
            }
            this.scroll = currentScroll
        },
        async logout() {
            await this.$auth.logout()
            this.$forceUpdate()
            this.$redirect({ name: 'home' })
        }
    },
    mounted() {
        window.addEventListener('scroll', _.throttle(this.stickHeader, 100));
    }
}
</script>