<template>
  
<div class="flex-grow bg-white py-8">
    <div class="container mx-auto px-4">

        <h1>Hello <a href="#" class="hyperlink" @click.prevent="fetchUser" v-text="userName || 'missing'"></a></h1>

    </div>
</div>

</template>

<script>
import auth from '../libs/auth'

export default {
    data() {
        console.log('in hello')
        return {
            userName: _.get(auth.user, 'name')
        }
    },
    methods: {
        fetchUser() {
            this.userName = null
            this.$nextTick(async () => {
                let user = await auth.fetchUser()
                this.userName = user.name
            })
        }
    },
}
</script>