<template>
  
<div class="flex-grow bg-white py-8">
    <div class="container mx-auto px-4">
        
        <p class="border p-2 my-4 font-normal">
            Upload and annotate <em>any document</em>, verify your identity, 
            and connect with an eNotary in minutes. <a href="?alert=All handled securely through 
            the Notarize app. Once done, print or share your notarized document 
            electronically." class="hyperlink">All handled securely through 
            the Notarize app. Once done, print or share your notarized document 
            electronically.</a>
            <span class="font-semibold">The rise of single-page websites</span> 
            has driven many new trends into the limelight. One of these is dot navigation: 
            a series of circular icons located on the left or right side of the screen. 
            Each of these dots represents a different section of the site. And since the 
            layout is one long page, these links are highlighted to indicate the user’s current 
            position. I really like the ingenuity of this trend, but there is a question 
            mark over if people understand what these dots stand for or how to use them. 
            Why use this?
            If you’re designing a single page layout then I’d recommend using a sticky navbar 
            at the top of the page. This makes it easier to see what each slide represents and 
            what sort of information is on the page.
            But if you can’t (or don’t want to) use a top navigation then these dot features 
            are the next best thing. Or even better: combine both! It’s possible to have a 
            top nav with text links and include dot navigation icons too. Or even include 
            text beside the dots. There are lots of options to choose from, and they can 
            all work well.
        </p>
       
    </div>
</div>

</template>