<template>
    <div class="block bg-white shadow border-t-6 border-brand container max-w-sm mx-auto">
        <div class="text-right">
            <router-link :to="{ name: 'register' }" class="inline-block bg-brand text-white px-4 py-1 text-sm">
                New User
            </router-link>
        </div>

        <api-form class="px-14 py-8" method="POST" action="/api/auth/login" @success="saveTokenAndRedirect">
            <div slot-scope="form">

                <h2 class="text-brand mb-6">Login to your account</h2>

                <div class="mb-6">
                    <input id="email" type="email" class="form-control" name="email" placeholder="Email" autofocus autocomplete="username">
                    <p class="text-red" v-if="form.errorBag.has('email')" v-text="form.errorBag.first('email')"></p>
                </div>

                <div class="mb-6">
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password" autocomplete="current-password">
                    <p class="text-red" v-if="form.errorBag.has('password')" v-text="form.errorBag.first('password')"></p>
                </div>

                <button type="submit" class="btn btn-block btn-brand" :class="{ 'btn-loading' : form.loading }">
                    Login
                </button>

            </div>
        </api-form>
        <div class="bg-grey-lighter text-center p-3 text-sm">
            <router-link :to="{ name: 'password.request' }" class="link">Forgot your password?</router-link>
        </div>
    </div>

</template>

<script>
import auth from '../libs/auth'

export default {
    methods: {
        async saveTokenAndRedirect({ data: token }) {
            await auth.setToken(token)
            await auth.initialize()
            this.$redirect({ name: 'hello' })
        }
    }
}
</script>