[v-cloak] {
    .v-cloak-hidden {
        display: none;
    }
    .v-cloak-block {
        display: block;
    }
    .v-cloak-inline-block {
        display: inline-block;
    }
    .v-cloak-inline {
        display: inline;
    }
}

.img-cover {
    object-fit: cover;
}

.pin-t-full {
    top: 100%;
}

.pin-b-full {
    bottom: 100%;
}

.-pin-t-full {
    top: -100%;
}

.-pin-b-full {
    bottom: -100%;
}

.transition {
    transition: all 0.3s;
}

.transition-ease {
    transition: all 0.3s ease;
}

.transition-linear {
    transition: all 0.3s linear;
}