@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.btn {
    @apply px-4 py-3 border text-center select-none;
    transition: all 0.3s;
    transition-property: background-color, border-color, color;

    &[disabled] {
        opacity: .5;
        cursor: not-allowed;
    }
    
    &.btn-block {
        @apply w-full block;
    }

    &.btn-loading {
        pointer-events: none;
        text-indent: -9999px; 
        position: relative;
        &::after {
            position: absolute!important;
            left: calc(50% - (1.25em / 2));
            top: calc(50% - (1.25em / 2));
            animation: spinAround .5s infinite linear;
            border: 2px solid currentColor;
            border-radius: 290486px;
            border-right-color: transparent;
            border-top-color: transparent;
            content: "";
            display: block;
            height: 1.25em;
            width: 1.25em;
        }
    }

    &.btn-brand {
        @apply text-white bg-brand border-brand;
        &:not([disabled]) {
            &:hover, &:focus, &:active {
                @apply bg-brand-dark;
            }
        }
    }

    &.btn-outline-brand {
        @apply text-brand border-brand bg-white;
        &:not([disabled]) {
            &:hover, &:focus, &:active {
                @apply text-white bg-brand;
            }
        }
    }
}

.link {
    @apply text-brand;
    &[href] {
        &:visited {
            @apply text-brand-dark;
        }
        &:hover, &:active, &:focus {
            @apply underline;
        }
    }
}

.hyperlink {
    @apply text-brand underline;
    &[href] {
        &:visited {
            @apply text-brand-dark;
        }
        &:hover, &:active, &:focus {
            @apply text-brand-darker;
        }
    }
}