#navbar {
    transition: transform 0.25s ease-in-out;

    #navbar-search-result {
        transition: max-height 0.25s ease-in-out;
    }

    &.navbar-stick {
        transform: translateY(0);
    }
    &.navbar-unstick {
        transform: translateY(-100%);

        #navbar-search-result {
            max-height:0;
        }
    }
}

.navbar-open {
    overflow: hidden;

    #navbar {
        @apply fixed pin-t pin-l w-full h-full z-50;
    }
    #navbar-toggle-open {
        @apply hidden;
    }
    #navbar-toggle-close {
        @apply inline;
    }
    #navbar-menu {
        @apply block;
        @apply border-t mt-4 pt-4;
        & > * {
            @apply py-2;
        }
    }
}
