.notification.notification-top {
    
    @apply text-sm py-3 px-4 mt-1 mx-1 border-l-4 bg-grey-darker text-white border-grey-darkest;

    .notification-title {
        @apply font-bold;
        @apply opacity-90;
    }
    .notification-content {
        @apply opacity-90;
    }
    &.default, &.error, &.danger {
        @apply bg-red-light border-red-dark;
    }
    &.warn, &.warning {
        @apply bg-orange-light border-orange-dark;
    }
    &.success {
        @apply bg-green-light border-green-dark;
    }
    &.info {
        @apply bg-blue-light border-blue-dark;
    }

}
